// Import page-specific CSS files here.
@import "home";
@import "about";
@import "team";

body {
  margin: 0;
  font-family: Open-sans, sans-serif;
}
h1, h2, h3 {
  font-family: Raleway, Helvetica, sans-serif;

}
h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 0;
  color: black;
}

h3 {
  color: white;
    margin-top: 0;
  font-weight: bold;
  font-size: 20px;
}

.padded {
  padding: 100px 0;
}


