// Define variables for your color scheme

// For example:
$red: #CE0D41;
$blue: #05A2C7;
$yellow: #FEFF4D;
$orange: #FFA500;
$green: #004C00;
$gray: #000000;
$light-gray: #F4F4F4;
$pink: #FFA29F;
$salmon: #FA8072;
$white: #FFFFFF;
$light-grey: #CCCCCC;
